<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    

    <title>Counter</title>
  </head>
  <body>
    <body>
        <div>
              <h1 >Counter</h1>
              <h5 >you visit the page {{session["count"]}} times</h5>
              <form action="/count" method="post">
                  <button type="submit"  name="alter" value="add">add 2 visits</button>
                  <button type="submit" name="alter" value="reset">reset Counter</button>
              </form>
  
  
  
        </div>
    
      
   
     
  </body>
</html>