<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}	
</head>
<body>
   
    <form action="/loginUser" method="post">
        {% csrf_token %}
    
       
        <label>username<span>*</span>:</label>
        <input type="text" placeholder="username" name="username">
        <br>
        <label>password<span>*</span>:</label>
        <input type="password" placeholder="password" name="password">
        </br>
        <input type="submit" value="login">
        <a href="/">Back</a>
    

    </form>
    
</body>
</html>